.cart {
  @include flex(flex-start, flex-start);
  position: relative;

  @include mobile {
    flex-wrap: wrap;
  }

  &__info {
    width: 40%;
    margin-right: 30px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: $box-shadow;
    position: sticky;
    top: calc(#{$header-shrink-height} + 20px);

    @include mobile {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      position: unset;
    }

    &__txt {
      & > * {
        margin-bottom: 10px;
      }

      p {
        font-size: 1.25rem;
      }

      &__price {
        @include flex(center, space-between);
        padding: 10px 0;
        font-size: 1.25rem;

        span:nth-child(2) {
          font-size: 2rem;
          color: $main-color;
          font-weight: 600;
        }
      }
    }

    &__btn > * {
      margin-bottom: 20px;
    }
  }

  &__list {
    flex-grow: 1;
  }

  &__item {
    @include flex(flex-start, space-between);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid $main-color;
    border-radius: 8px;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    &__image {
      margin-right: 20px;

      img {
        height: 150px;
        object-fit: cover;
      }

      @include mobile {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__info {
      @include flex(flex-start, space-between);
      flex-grow: 1;
      width: 100%;

      @include mobile {
        flex-direction: column;
        align-items: center;

        & > * {
          margin-bottom: 15px;
          width: 100%;
          text-align: center;
        }
      }

      h3 {
        font-size: 1rem;
        margin-bottom: 5px;
        color: $txt-second-color;
        text-align: center;
      }

      &__name {
        width: 40%;

        @include mobile {
          width: 100%;
        }

        a {
          font-size: 1.25rem;
          font-weight: 600;
          color: $txt-main-color;

          &:hover {
            color: $main-color;
          }
        }
      }

      &__price {
        font-size: 1.25rem;
        font-weight: 600;
        color: $main-color;
      }

      &__quantity {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        h3 {
          @include mobile {
            margin-bottom: 10px;
          }
        }

        .product__info__item__quantity {
          @include flex(center, center);

          @include mobile {
            justify-content: center;
            width: auto;
          }

          &__btn {
            @include flex(center, center);
            width: 30px;
            height: 30px;
            border: 1px solid $txt-second-color;
            cursor: pointer;

            i {
              font-size: 1.25rem;
            }

            &:hover {
              background-color: $main-color;
              color: $txt-white;
            }
          }

          &__input {
            @include flex(center, center);
            height: 30px;
            width: 40px;
            font-size: 1.25rem;
            border-top: 1px solid $txt-second-color;
            border-bottom: 1px solid $txt-second-color;
          }
        }
      }

      &__del {
        font-size: 1.5rem;

        i {
          cursor: pointer;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  &__empty {
    width: 100%;
    height: calc(100vh - #{$header-height} - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet {
      height: calc(100vh - #{$header-tablet-height} - 2rem);
    }

    @include mobile {
      height: calc(100vh - #{$header-mobile-height} - 2rem);
    }

    &__img {
      max-width: 300px;
      margin-bottom: 2rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__txt {
      margin-bottom: 2rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    .btn {
      max-width: 200px;
    }
  }
}
