.header {
   // General styles for the header
   background-color: $main-bg;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 98;
   height: $header-height;
   transition: height 0.3s ease;

   @include tablet {
      // Styles for the header on tablet devices
      height: $header-tablet-height;
      box-shadow: $box-shadow;
   }

   @include mobile {
      // Styles for the header on mobile devices
      height: $header-mobile-height;
   }

   .container {
      // Styles for the container within the header
      height: 100%;
   }

   &.shrink {
      // Styles for the header when it shrinks
      height: $header-shrink-height;
      box-shadow: $box-shadow;
      z-index: 100;

      @include mobile {
         height: $header-mobile-height;
      }
   }

   &__logo {
      // Styles for the logo within the header
      @include flex(center, center);
      position: absolute;
      inset: 0;
      pointer-events: none;

      img {
         height: 200px;
      }

      @include mobile {
         height: 30px;
      }
   }

   &__menu {
      // Styles for the menu within the header
      @include flex(center, space-between);
      height: 100%;
      font-size: 1.5rem;

      &__item ~ &__item {
         // Styles for menu items
         margin-left: 39px;

         @include tablet {
            margin-left: 20px;
         }

         @include mobile {
            margin-left: 10px;
         }
      }

      &__item.active {
         // Styles for the active menu item
         font-weight: 600;
         color: $main-color;
      }

      &__item:hover {
         // Styles for the menu item on hover
         color: $main-color;
      }

      &__left,
      &__right {
         // Styles for the left and right parts of the menu
         @include flex(center, center);
         height: 100%;
      }

      &__right {
         // Styles for the right part of the menu
         font-size: 2.25rem;

         &__item {
            @include flex(center, center);

            @include tablet {
               margin-left: 10px;
            }
         }

         @include mobile {
            font-size: 1.5rem;
         }
      }

      &__right {
         &__item {
            cursor: pointer;
         }

         &__cart {
            // Styles for the cart icon in the right part of the menu
            position: relative;
         }

         &__count {
            // Styles for the count indicator near the cart icon
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 20px;
            height: 20px;
            background-color: $main-color;
            color: white;
            border-radius: 50%;
            font-size: 0.8rem;

            @include mobile {
               width: 12px;
               height: 12px;
               bottom: 10px;
               left: 10px;
               font-size: 0.75rem;
            }
         }
      }

      &__left {
         &__close {
            // Styles for the close button in the left part of the menu
            display: none;
            &:hover {
               color: $main-color;
            }
         }

         @include tablet {
            // Styles for the left part of the menu on tablet devices
            flex-direction: column;
            background-color: $main-bg;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            justify-content: flex-start;
            padding-top: 30px;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
            cursor: pointer;
            z-index: 1000;

            &.active {
               transform: translateX(0);
            }

            &__item ~ &__item {
               margin-left: unset;
               margin-top: 20px;
            }

            &__close {
               display: block;
               position: absolute;
               left: 20px;
               font-size: 2.5rem;
            }
         }
      }

      &__mobile-toggle {
         // Styles for the menu toggle button on mobile devices
         display: none;
         cursor: pointer;
         &:hover {
            color: $main-color;
         }

         @include tablet {
            display: block;
            font-size: 2.5rem;
         }
      }
   }
}
